/*!
OnYourMark
==============

Author: Chris Thoburn, http://runspired.com

*/

@media all {

/*
----------------[ UNIVERSAL ]----------------
*/

a, a.link { color: rgb(0,121,193); cursor: pointer; text-decoration: none; border: none; border-bottom: 1px dashed rgba(0,121,193,.5); }
a:active, a.active { rgb(0,60,88);}
a:visited, a.visited { rgb(115,185,240);}
a:hover, a.hover { border-bottom: 1px solid rgba(0,121,193,1); }

.link { cursor: pointer; }
.link:hover { border-bottom: 1px solid rgba(0,121,193,1);}


/*
----- GROWL -----
*/
.growlNotifications {
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 999; /*must be highest element on page*/
}

.growlNotification {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    right: 1rem;
    width: 21.5rem;
    height: 5.5rem;
    line-height: 1rem;
    padding: .25rem;
    border: .15rem solid rgba(250,250,250,.5);
    border-radius: .2rem;
    background-color: rgba(50, 50, 50, 0.75);
    color: #fff;
    font-size: .7rem;
    font-family: 'Lato', sans-serif;
    box-shadow: 0px 0px 15px -5px rgb(0, 0, 0);
    transition: opacity 2s ease-out, top .5s ease-out, right .5s ease-out;
}

.notificationText {
    font-weight: 400;

}

.notificationTitle {
    font-weight: 700;
    text-shadow: 1px 1px 4px rgba(100, 100, 100, 0.5);
    font-size: .85rem;
}

.growlNotification.error {
    background-color: rgba(206,10,10, 0.75);
    border-color: rgba(206,10,10, 0.5);
    color: #fff;
}
.growlNotification.error:hover {
    border-color: rgba(206,10,10, 0.25);
}
.growlNotification.failure {
    background-color: rgba(255, 113, 95, 0.75);
    border-color: rgba(255, 113, 95, 0.5);
    color: #000;
}
.growlNotification.failure:hover {
    border-color: rgba(255, 113, 95, 0.25);
}
.growlNotification.warning {
    background-color: rgba(255,238,112, 0.75);
    border-color: rgba(255,238,112, 0.5);
    color: #444;
}
.growlNotification.warning:hover {
    border-color: rgba(255,238,112, 0.25);
}
.growlNotification.success {
    background-color: rgba(83,181,106, 0.75);
    border-color: rgba(83,181,106, 0.5);
    color: #fff;
}
.growlNotification.success:hover {
    border-color: rgba(83,181,106, 0.25);
}
.growlNotification.info {
    background-color: rgba(0,121,193, 0.75);
    border-color: rgba(0,121,193, 0.5);
    color: #fff;
}
.growlNotification.info:hover {
    border-color: rgba(0,121,193, 0.25);
}
.growlNotification.general {
    background-color: rgba(50, 50, 50, 0.75);
    border-color: rgba(50, 50, 50, 0.5);
    color: #fff;
}
.growlNotification.general:hover {
    border-color: rgba(50, 50, 50, 0.25);
}
.growlNotification.loading, .growlNotification.loadCompleted {
    height: 1.5rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-color: #ddd;
    border-width: 1px;
    border-radius: 2px;
    width: 10.75rem;
    box-shadow: 0px 0px 5px -5px rgba(0, 0, 0, 0.5);
}
.growlNotification.loading .notificationTitle, .growlNotification.loadCompleted .notificationTitle {
    text-shadow: none;
    font-weight: 100;
    color: #aaa;
}
.gorwlNotification.loading:hover {
    border-color: #bbb;
}
.growlNotification.loadCompleted .icon {
    background: url('../resources/check.svg') center center / .75rem .75rem no-repeat;
}
.growlNotification.loading .icon {
    background: url('../resources/ajax-loader.gif') center center / .75rem .75rem no-repeat;
}

.growlNotification.is-opaque {
    opacity: 1;
}

.growlNotification:hover {
    border-color: rgba(250, 250, 250, 0.25);
}

.growlNotification.closed {
    display: none;
}

.growlNotification .icon {
    display: block;
    float: left;
    position: relative;
    width: 1rem;
    height: 1rem;
}

.growlNotification .closeNotification {
    display: none;
    position: absolute;
    top: -.75rem;
    right: -.75rem;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    border-radius: .75rem;
    font-size: .75rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: #444;
}

.growlNotification:hover .closeNotification {
    display: block;
}
.growlNotification.closed:hover, .growlNotification:hover {
    display: block;
    opacity: 1;
}



.selectableList {
    display: inline-block;
    position: relative;
    margin: 1em;
}
.selectableGroup {

}
.selectableGroupLabel {

}
.selectableGroupLabel {
    cursor: default;
    background-color: #cfcfcf;
    font-size: .8rem;
    font-weight: 700;
    color: #000;
    padding: 0 .5rem;
}
.dark .selectableGroupLabel {
    background-color: #000;
    color: #fff;
}
.selectableItem, .selectableGroupLabel{
    min-width: 2.5rem;
    height: 2rem;
    line-height: 2rem;
    text-align: left;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.selectableItem {
    cursor: pointer;
    background-color: #fbfbfb;
    color: #444;
    font-weight: 300;
    font-size: .75rem;
    border-bottom: .1rem solid #f0f0f0;
    border-top: .1rem solid #ffffff;
    padding: 0 2rem;
}
.dark .selectableItem {
    color: #fff;
    background-color: #444;
    border-bottom: .1rem solid #383838;
    border-top: .1rem solid #484848;
}
.selectableItem.selected {
    background: #f5f5f5 url('../resources/check.svg') .25rem center / 1rem 1rem no-repeat;
}
.dark .selectableItem.selected {
    background: #444 url('../resources/check.svg') .25rem center / 1rem 1rem no-repeat;
}
.selectableItem.selected:hover, .dark .selectableItem.selected:hover {
    background: #ff9090 url('../resources/wrong.svg') .25rem center / .5rem .5rem no-repeat;
}
.selectableItem:hover {
    background-color: #f0f0f0;
}
.dark .selectableItem:hover {
    background-color: #333;
}
.selectableItem:first-of-type {
    border-top: none;
}
.selectableItem:last-of-type {
    border-bottom: none;
}



.errorWrapper::before {
	position: absolute;
	display: block;
	content: ' ';
	width: 0em;
	height: 0em;
	border: .83em solid transparent;
	border-right: .4em solid rgb(125 , 56 , 47);
	z-index: 100;
	left: -1.2em;
	top: 0em;
	}
.errorWrapper::after {
	position: absolute;
	display: block;
	content: ' ';
	width: 0em;
	height: 0em;
	border: .83em solid transparent;
	border-right: .4em solid  rgb(255,113,95);
	z-index: 100;
	left:  -1.14em;
	top: 0em;
	}


.errorWrapper {
	background: rgb(255 , 113 , 95);
    border: .1em solid rgb(125 , 56 , 47);
    position: absolute;
	border-radius: 0 .3em .3em 0;
	font-size: .75em;
	line-height: 1em;
	padding: .5em 1.5em .5em .5em;
	min-width: 15em;
}
.errorWrapper .errorMessage:before {
	content: 'X';
	display: block;
	border-radius: 1em;
	width: 2em;
	height: 2em;
	line-height: 2em;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	background: rgba(255,255,255,0.3);
	color: rgba(255 , 113 , 95,.65);
	top: -.25em;
	left: -.25em;
	margin: .25em;
	font-weight: 400;
	font-size: .5em;
	text-shadow: 0px 0px 0px rgba(0,0,0,.5);
}
.errorWrapper .errorMessage {
	color: #fff;
	position: relative;
	font-weight: 100;
	padding-left: 1.5em;
}




    /*
    ----- Slide Toggle -----
    */
    .slideToggle {
        cursor: pointer;
        width: 1.75rem;
        height: 1rem;
        margin: 0 0.5rem;
        background: rgb(83, 181, 106);
        display: inline-block;
        border-radius: 0.5rem;
        border: .1em solid rgb(83, 181, 106);
    }
    .slideToggleButton {
        background: #f8f8f8;
        border-radius: .5rem;
        height: 1rem;
        position: relative;
        left: 0.75rem;
        width: 1rem;
        box-shadow: -1px 0px 2px 0px rgb(63, 121, 82);
        transition: left .2s ease-out;
    }
    .slideToggle:hover .slideToggleButton {
        background: #ffffff;
    }
    .slideToggle.off {
        background: #f0f0f0;
        border-color: #e0e0e0;
    }
    .slideToggle.off .slideToggleButton {
        left: 0rem;
        box-shadow: 1px 0px 2px 0px #bbb;
    }


    /*
    ----- Carousel -----
    */
    .contentSection {
        width: 100%;
        min-height: 25rem;
        position: relative;
    }
    .carousel {
        width: 100%;
        min-height: 15rem;
        overflow: hidden;
        position: relative;
    }
    .carouselSlides {
        position: relative;
        overflow: hidden;
        min-height: 15rem;
        min-width: 100%;
    }
    .carouselSlide {
        min-height: 15rem;
        display: block;
        position: relative;
        float: left;
    }

.slider	{
	padding: .25em .25em .25em 1.75em;
	border: .1em solid #bbb;
	border-radius: .1em;
	color: #ddd;
	background: #333;
	position: relative;
}

.slider:before {
	content : ' ';
	background: rgba(255,255,255,.75);
	display: block;
	position: absolute;
	width: 1.25em;
	height: 1.25em;
	left: .25em;
}

.slider.visible:before {
	content : ' ';
	background: rgba(255,255,255,.25);
	display: block;
	position: absolute;
	width: 1.25em;
	height: 1.25em;
	left: .25em;
}









/*
--------------------------[ MARKDOWN ]----------------------
*/
	.markdown {
	   font-family: Lato, arial, sans-serif;
	   line-height: 1.6;}

	.markdown > *:first-child {
	   margin-top: 0 !important; }
	.markdown > *:last-child {
	   margin-bottom: 0 !important; }

	.markdown a {
	   color: #4183C4; }
	.markdown a.absent {
	   color: #cc0000; }
	.markdown a.anchor {
	   display: block;
	   padding-left: 30px;
	   margin-left: -30px;
	   cursor: pointer;
	   position: absolute;
	   top: 0;
	   left: 0;
	   bottom: 0; }

	.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
	   margin: 20px 0 10px;
	   padding: 0;
	   font-weight: bold;
	   -webkit-font-smoothing: antialiased;
	   cursor: text;
	   position: relative; }

	.markdown h1:hover a.anchor, .markdown h2:hover a.anchor, .markdown h3:hover a.anchor, .markdown h4:hover a.anchor, .markdown h5:hover a.anchor, .markdown h6:hover a.anchor {
	   text-decoration: none; }

	.markdown h1 tt, .markdown h1 code {
	   font-size: inherit; }

	.markdown h2 tt, .markdown h2 code {
	   font-size: inherit; }

	.markdown h3 tt, .markdown h3 code {
	   font-size: inherit; }

	.markdown h4 tt, .markdown h4 code {
	   font-size: inherit; }

	.markdown h5 tt, .markdown h5 code {
	   font-size: inherit; }

	.markdown h6 tt, .markdown h6 code {
	   font-size: inherit; }

	.markdown h1 {
	   font-size: 28px;
	   color: black; }

	.markdown h2 {
	   font-size: 24px;
	   border-bottom: 1px solid #cccccc;
	   color: black; }

	.markdown h3 {
	   font-size: 18px; }

	.markdown h4 {
	   font-size: 16px; }

	.markdown h5 {
	   font-size: 14px; }

	.markdown h6 {
	   color: #777777;
	   font-size: 14px; }

	.markdown p, .markdown blockquote, .markdown ul, .markdown ol, .markdown dl, .markdown li, .markdown table, .markdown pre {
	   margin: 15px 0; }

	.markdown hr {
	   border: 0 none;
	   color: #cccccc;
	   height: 4px;
	   padding: 0;
	}

	.markdown > h2:first-child {
	   margin-top: 0;
	   padding-top: 0; }
	.markdown > h1:first-child {
	   margin-top: 0;
	   padding-top: 0; }
	.markdown > h1:first-child + h2 {
	   margin-top: 0;
	   padding-top: 0; }
	.markdown > h3:first-child, .markdown > h4:first-child, .markdown > h5:first-child, .markdown > h6:first-child {
	   margin-top: 0;
	   padding-top: 0; }

	.markdown a:first-child h1, .markdown a:first-child h2, .markdown a:first-child h3, .markdown a:first-child h4, .markdown a:first-child h5, .markdown a:first-child h6 {
	   margin-top: 0;
	   padding-top: 0; }

	.markdown h1 p, .markdown h2 p, .markdown h3 p, .markdown h4 p, .markdown h5 p, .markdown h6 p {
	   margin-top: 0; }

	.markdown li p.first {
	   display: inline-block; }
	.markdown li {
	   margin: 0; }
	.markdown ul, .markdown ol {
	   padding-left: 30px; }

	.markdown ul :first-child, .markdown ol :first-child {
	   margin-top: 0; }

	.markdown dl {
	   padding: 0; }
	.markdown dl dt {
	   font-size: 14px;
	   font-weight: bold;
	   font-style: italic;
	   padding: 0;
	   margin: 15px 0 5px; }
	.markdown dl dt:first-child {
	   padding: 0; }
	.markdown dl dt > :first-child {
	   margin-top: 0; }
	.markdown dl dt > :last-child {
	   margin-bottom: 0; }
	.markdown dl dd {
	   margin: 0 0 15px;
	   padding: 0 15px; }
	.markdown dl dd > :first-child {
	   margin-top: 0; }
	.markdown dl dd > :last-child {
	   margin-bottom: 0; }

	.markdown blockquote {
	   border-left: 4px solid #dddddd;
	   padding: 0 15px;
	   color: #777777; }
	.markdown blockquote > :first-child {
	   margin-top: 0; }
	.markdown blockquote > :last-child {
	   margin-bottom: 0; }

	.markdown table {
	   padding: 0;border-collapse: collapse; }
	.markdown table tr {
	   border-top: 1px solid #cccccc;
	   background-color: white;
	   margin: 0;
	   padding: 0; }
	.markdown table tr:nth-child(2n) {
	   background-color: #f8f8f8; }
	.markdown table tr th {
	   font-weight: bold;
	   border: 1px solid #cccccc;
	   margin: 0;
	   padding: 6px 13px; }
	.markdown table tr td {
	   border: 1px solid #cccccc;
	   margin: 0;
	   padding: 6px 13px; }
	.markdown table tr th :first-child, .markdown table tr td :first-child {
	   margin-top: 0; }
	.markdown table tr th :last-child, .markdown table tr td :last-child {
	   margin-bottom: 0; }

	.markdown img {
	   max-width: 100%; }

	.markdown span.frame {
	   display: block;
	   overflow: hidden; }
	.markdown span.frame > span {
	   border: 1px solid #dddddd;
	   display: block;
	   float: left;
	   overflow: hidden;
	   margin: 13px 0 0;
	   padding: 7px;
	   width: auto; }
	.markdown span.frame span img {
	   display: block;
	   float: left; }
	.markdown span.frame span span {
	   clear: both;
	   color: #333333;
	   display: block;
	   padding: 5px 0 0; }
	.markdown span.align-center {
	   display: block;
	   overflow: hidden;
	   clear: both; }
	.markdown span.align-center > span {
	   display: block;
	   overflow: hidden;
	   margin: 13px auto 0;
	   text-align: center; }
	.markdown span.align-center span img {
	   margin: 0 auto;
	   text-align: center; }
	.markdown span.align-right {
	   display: block;
	   overflow: hidden;
	   clear: both; }
	.markdown span.align-right > span {
	   display: block;
	   overflow: hidden;
	   margin: 13px 0 0;
	   text-align: right; }
	.markdown span.align-right span img {
	   margin: 0;
	   text-align: right; }
	.markdown span.float-left {
	   display: block;
	   margin-right: 13px;
	   overflow: hidden;
	   float: left; }
	.markdown span.float-left span {
	   margin: 13px 0 0; }
	.markdown span.float-right {
	   display: block;
	   margin-left: 13px;
	   overflow: hidden;
	   float: right; }
	.markdown span.float-right > span {
	   display: block;
	   overflow: hidden;
	   margin: 13px auto 0;
	   text-align: right; }

	.markdown code, tt {
	   margin: 0 2px;
	   padding: 0 5px;
	   white-space: nowrap;
	   border: 1px solid #eaeaea;
	   background-color: #f8f8f8;
	   border-radius: 3px; }

	.markdown pre code {
	   margin: 0;
	   padding: 0;
	   white-space: pre;
	   border: none;
	   background: transparent; }

	.markdown .highlight pre {
	   background-color: #f8f8f8;
	   border: 1px solid #cccccc;
	   font-size: 13px;
	   line-height: 19px;
	   overflow: auto;
	   padding: 6px 10px;
	   border-radius: 3px; }

	.markdown pre {
	   background-color: #f8f8f8;
	   border: 1px solid #cccccc;
	   font-size: 13px;
	   line-height: 19px;
	   overflow: auto;
	   padding: 6px 10px;
	   border-radius: 3px; }
	.markdown pre code, pre tt {
	   background-color: transparent;
	   border: none; }

	.markdown sup {
	   font-size: 0.83em;
	   vertical-align: super;
	   line-height: 0;
	}
	* {
		 -webkit-print-color-adjust: exact;
	}

}

}
@media print {
	 .markdown table, .markdown pre {
		  page-break-inside: avoid;
	 }
	 .markdown pre {
		  word-wrap: break-word;
	 }
}