<div class="col-md-8">
    <h1>Welcome!</h1>
    <p>OnYourMark let's you collaborate while taking notes in <a href="http://daringfireball.net/">Markdown</a> with your friends!</p>
    {{#link-to 'session' type="button" role="button" tagName="button" classNames="btn btn-primary active"}}Get Started!{{/link-to}}
</div>